---
layout: default
---
<section>
	<center><h3>거창대성고등학교 청원 게시판</h3></center>
	<center><span style="border: 3px solid #666666; background-color: #666666; color: white; border-radius: 5px; padding: 5px;"><a style="text-decoration: none; color:white; margin: 10px;" href="https://forms.gle/tFBnZ3MYjoZMi7cy8">지금 청원하기</a>|<a style="text-decoration: none; color: white; margin: 10px;" href="/petitions">청원 목록</a>|<a style="text-decoration: none; color: white; margin: 10px;" href="/tosurvive">대고에서 살아남기</a>|<a style="text-decoration: none; color: white; margin: 10px;" href="/emoticons">대고티콘</a></center>
</section>
<section>

{% for post in site.posts %}
		{% if post.status == "solved" %}
			<h3>답변된 청원</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "solved" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<span style="border: 1px solid Green; background-color: Green; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">답변완료</span>
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "unsolved" %}
			<h3><br>진행 중인 청원</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "unsolved" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<span style="border: 1px solid Gold; background-color: Gold; color: white; padding: 2px; border-radius: 5px; margin: 3px auto;">진행중</span>
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "tips" %}
			<h3><br>대고 생존 팁</h3>
			{% break %}
		{% endif %}
	{% endfor %}
	
	{% for post in site.posts %}
		{% if post.status == "tips" %}
			<ul>
				<li>
					<div class="post-date code">
						<span>{{ post.date | date: "%b %d" }}</span>
					</div>
					<div class="title">
						<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
					</div>
				</li>
			</ul>
		{% endif %}
	{% endfor %}

</section>
